
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #fff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 0 300px; /* Add padding for better spacing */
    box-sizing: border-box;
    border-bottom: 3px solid #fff; /* Darker blue border bottom */
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
  }

  .navbar-container.scrolled{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }

  body.scrolled {
    padding-top: 75px; /* Adjust the value based on your navbar height */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }
  .nav-linkk {
    display: flex;
    color: rgb(26,132,128);
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px; /* Add spacing between links */
    transition: color 0.3s; /* Smooth transition for color change */
  }
  
  .nav-links a:hover {
    color: #ffd700; /* Change color on hover to gold */
  }
  
  .nav-links a.active {
    color: #ffd700; /* Active link color */
  }
  
  .log-in-btn {
    padding: 10px 20px;
    margin-left: 15px;
    margin-right: 45px;
    margin-bottom: 5px;
    width: 100px;
    border-radius: 5px;
    border-color: rgb(26, 132, 128);
    cursor: pointer;
    background-color: #fff; /* Default color */
    color: rgb(26, 132, 128); /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for button color change */
    position: absolute;
    left: 1150px;
    top: 12%;
  }
  
  .log-out-btn:hover,
  .log-in-btn:hover {
    background-color: #fff; /* Hover color */
    color: rgb(26, 132, 128); /* Hover text color */
    border-color: #fff;
  }

  .log-out-btn{
    padding: 10px 20px;
    margin-left: 15px;
    margin-right: 45px;
    margin-bottom: 5px;
    width: 100px;
    border-radius: 5px;
    border-color: rgb(26, 132, 128);
    cursor: pointer;
    background-color: #fff; /* Default color */
    color: rgb(26, 132, 128); /* Default text color */
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    left: 1250px;
    top: 11%;
  }
  
  /* .log-out-btn-container{
    padding: 10px 20px;
    padding-bottom: 0px;
    margin-left: 25px;
    margin-right: 40px;
    margin-bottom: 15px;
    padding-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  } */
  
/* .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: flex-start;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    background-color:cornflowerblue;
    color: #fff;
    height: 75px;
    border: 3px solid #bbb;
    }


.icon{
    width: 40px;
    height: 40px;
    padding-top: 20px;
    object-fit: contain;
    
}

.nav-link{
    font-weight: bold;
    height: 1px;
    width: 1px;
    font-size: 16px;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    color:aliceblue;
    display: flex;
}


.nav-link-login{
    font-weight: bold;
    height: 1px;
    width: 1px;
    font-size: 16px;
    
    color:rgb(20, 58, 92);
    display: flex;
    justify-self: flex-end;
    margin-left: 800px;
}

.log-out-btn{
    padding: 10px;
    width: 80px;
    height: 5px;
    border: 1px solid #ececec;
    margin-left: 50px;
    padding-bottom: 50px;
    background-color:black;
    color:white;
    text-align: center;
    display: flex;
}
.log-in-btn{
    padding: 10px;
    width: 80px;
    height: 5px;
    border: 1px solid #ececec;
    margin-left: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color:black;
    color:white;
    text-align: center;
} */