.container.mt-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  width: 100%;
}

.card {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.btn.btn-primary.mt-4 {
  display: block;
  width: 30%; /* Adjusted width to 100% */
  margin-top: 18px; /* Adjusted margin to create space between the form and the button */
  margin-left: 155px;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.btn-primary.mt-4:hover {
  background-color: #0056b3;
}

.container {
  background-color: white;
}