body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

*{
    box-sizing: border-box;
}
form{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2pc #ddd;
    margin: 40px auto;
    max-width: 600px;
    max-height: 700px;
    padding: 20px 40px;
}

form input, textarea{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}

form span{
    color: rgb(0, 140, 255);
}

form button{
    height: 40px;
    width: 70px;
    align-items: center;
    border: none;
    background-color: rgb(29, 180, 237);
    color: #fff;

}

.contact-container {
    display: flex;
    justify-content: space-between; /* Ensures the two containers are spaced apart */
    align-items: center; /* Aligns items vertically in the center */
}

.image-container {
    flex: 1; /* Take up available space */
}

.form-container {
    flex: 1; /* Take up available space */
}

.side-image {
    width: 100%; /* Ensures the image takes full width of its container */
}
